@import url('https://fonts.googleapis.com/css?family=Rajdhani');

* {
    box-sizing: border-box;
    font-family: 'Rajdhani';
}

body {
    background-image: -webkit-gradient(linear, left, right, from(#3a3636), to(#0F9B0F));
    background-image: -webkit-linear-gradient(top, #3a3636, #0f9B0F);
    background-image: -moz-linear-gradient(top, #3a3636, #0f9B0F);
    background-image: linear-gradient(to right, #3a3636, #0F9B0F);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    color: #dada17;
    letter-spacing: 0.2em;
    margin: 0;
}

h2 {
    text-align: center;
    color: #dada17;
    font-size: 1.8em;
    margin-top: 10px;
}

.block {
    width: 50vw;
    height: 75vh;
    margin: 0 auto;
    background-color: #000;
}

.squareOn {
    border: 1px solid #154a07;
    height: 100%;
    display: inline-block;
}

.squareOff {
    background-color: #efef09;
    border: 1px solid #154a07;
    height: 100%;
    display: inline-block;
}

.buttonRow {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

.pure-button {
    background-color: #baba17;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 0.5em;
}