* {
    box-sizing: border-box;
}

.block {
    width: 50vw;
    height: 75vh;
    margin: 0 auto;
    background-color: #000;
}

/* .squareRow {
    height: calc(100% / 30);
} */

.squareOn {
    border: 1px solid #fff;
    height: 100%;
    display: inline-block;
}

.squareOff {
    background-color: #999966;
    border: 1px solid #fff;
    height: 100%;
    display: inline-block;
}